<!DOCTYPE html>
<html>
    <head>
        <title>{% block title "Fauxgram" %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block content "" %}
    </body>
</html>